.main-container {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.main-header {
    flex: 0 0 auto;
    height: 40px;
    background-color: rgb(28, 27, 34);
    color: white;
}

.main-content-container {
    /*max-height: 90%;*/
    /*padding-top: 40px;*/
    overflow: hidden;
    display: flex;
    flex: 1;
}

.main-content-wrapper {
    margin-left: 220px;
    flex: 1 1 auto;

    overflow: auto;
}